:root {
    --blue: #1b74e4;
    --font-color: #65676b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}